/*design do site*/

.logoo {
    
        height: 100%;
        width: 250px; 
        display: block;
        margin-left: auto;
        margin-right:  auto;
        
}


.Teste {
    

}

.Frase{
    
    background-color: #FFBC42;
    padding: 5px;
    text-align: center;
    margin: 1px;
    
}
.footer navbar{
    
    color: #031D44;
    height: 145px;
    bottom: 5px;
    position: fixed;
    width: 90%;
    padding: 2rem;
}

    