/*Botões das etapas*/

.etapas{
    border-bottom: 1px solid #dddddd;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}
.produto, .endereco, .pagamento{
    text-align: center;
}
.etapas a{
    background-color: transparent;
    color: #8b8b8b;
    border: none;
    font-size: 18px;
    padding: 20px;
}
.etapas a:hover{
    font-weight: 600;
    color: #585858;
    text-decoration: none;
    transition: all 0.5s;
}
.pagamento a{
    font-weight: 600;
    color: #FFBC42;
}
.pagamento a:hover{
    color: #FFBC42;
}
.txtPag{
    text-align: center;
    margin: 20px 0 80px 0; 
    font-size: 20px;
}

/* Formas de pagamento */
.cardPag{
    background-color: none;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
    padding: 20px;
}
.cardPag p{
    color:#808080;
    font-weight: bold;
}
.cardPag button{
    font-size: 50px;
    background-color: none;
    color: #808080;
}
.card-body{
    margin-top: 10px;
    text-align: center;
    background-color: #F2F3F5;
    border: 1px solid #c4c4c4;
    border-radius: 7px;
}
.cardPag label{
    font-size: 16px;
    color: #080705;
    margin-top: 15px;
}
.cardPag input{
    height: 40px;
    width: 95%;
    border-radius: 5px;
    outline: none;
    border:none;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}
.card-body button{
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    padding: 10px 0;
    text-transform: uppercase;
    background-color: #247BA0;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
}

    /* PIX */
.card-body .chavePix{
    margin-top: 10px;
}
.card-body .chavePix p{
    font-weight: 500;
    color: #080705;
    font-size: 16px;

}

/* Cartão de crédito e Débito*/
.cardPag .cartaoCredito{
    text-align: left;
}

.cardPag .cartaoCredito select{
    height: 40px;
    width: 90%;
    border-radius: 5px;
    outline: none;
    border:none;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}

.cardPag .boleto button{
    margin-left: -10%;
    width: 250px;
    margin-right: 100px;
}
.cardPag .boleto a{
    color: #247BA0;
    font-weight: bold;
}
.cardPag .boleto a:hover{
    text-decoration: none;
    color: #031D44;
    transition: all 0.5s;
}

/* Resumo do pedido */
.resumo .compraResumo{
    float: right;
    border: 1px solid #c4c4c4;
    padding: 50px 10px 50px 20px ;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 50px;
}
.resumo .tituResumo{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 15px;
}
.resumo .precoText{
    float: right;
    margin-right: 20px;
}
    
    /* Botão confirmar compra */
.resumo .btnConfirma{
    text-align: center;
} 
.resumo a{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #FFBC42;
    color: white;
    border-radius: 10px;
}
.resumo a:hover{
    text-decoration: none;
    color: white;
    background-color: #ffa600;
    transition: all 0.5s;
}